@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h2>Main page</h2>
	<h3>@Html.ActionLink("Osoby", "Index", "People")</h3>
	<h3>@Html.ActionLink("Nagenerovat 5 novych osob","Index","Seed")</h3>
</div>
